.catalog-container {
    .category-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;

        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .backshadow {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        }

        h1 {
            margin-top: 100px;
            position: absolute;
            z-index: 3;
            font-size: 60px;
        }
    }
}

@media (max-width: 600px) {
    .catalog-container {
        .category-container {
            min-height: 30vh;

            h1 {
                font-size: 45px;
            }
        }
    }
}