@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-1: #fff;
    --white-2: #ccc;
    --white-3: #777;
    --black-0: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-4: #444;
    --black-5: #555;
    --red-1: #e50914;

    --border-0: 3px;
    --border-1: 5px;
    --border-2: 10px;

    --transition: .3s ease;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--white-1);
    background: var(--black-0);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    font-family: inherit;
}

@import './Navbar.scss';
@import './Footer.scss';
@import './Home.scss';
@import './MovieCard.scss';
@import './Catalog.scss';
@import './Movie.scss';
@import './Detail.scss';