.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    transition: var(--transition);
    //background: linear-gradient(to bottom, #111, rgba(17, 17, 17, 0));
    //backdrop-filter: blur(10px);

    .logo {
        width: 150px;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-size: 15px;
            padding-bottom: 5px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width .3s ease;
                height: 2px;
                background-color: var(--red-1);
            }

            &.active::after,
            &:hover::after {
                width: 80%;
            }
        }

        .btns {

            svg {
                font-size: 25px;
                cursor: pointer;
            }
        }
    }

    .btn-mobile {
        display: none;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 35px;
            //color: var(--red-1);
        }
    }
}

.navbar-scroll {
    background: var(--black-0);
    //background: linear-gradient(to bottom, #111, rgba(17, 17, 17, 0));
    padding: 20px 150px;
    //backdrop-filter: blur(20px);
    transition: var(--transition);
}

.sidebar-mobile {
    display: none;
    flex-direction: column;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: -100%;
    width: 65vw;
    height: 100vh;
    background: var(--black-1);
    transition: .3s ease-in-out;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);

    .btn-mobile-close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;

        svg {
            font-size: 35px;
        }
    }

    .sidebar-links {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;

            a, span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                //font-weight: 600;
                font-size: 17px;
                color: var(--black-5);
                gap: 10px;
                //text-transform: uppercase;

                svg {
                    font-size: 25px;
                }
            }

            .active {
                color: var(--red-1);
                color: var(--white-1);

                svg {
                    color: var(--red-1);
                }
            }
        }

        button {
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            background: var(--red-1);
            border-radius: var(--border-0);
            padding: 10px 20px;
        }

        .line {
            width: 100%;
            height: 1px;
            background: var(--black-2);
            display: block;
        }
    }
}

.sidebar-mobile-active {
    right: 0;
    transition: .3s ease-in-out;
}

@media (max-width: 600px) {
    .navbar {
        padding: 20px;

        .logo {
            width: 100px;
        }

        .nav-right {
            display: none;
            gap: 20px;
        }

        .btn-mobile {
            display: flex;
        }
    }

    .sidebar-mobile {
        display: flex;
    }
}